.container {
  background-image: url("https://img.freepik.com/fotos-gratis/conceito-de-reciclagem-lay-flat_23-2148834519.jpg?t=st=1684346518~exp=1684347118~hmac=55ebb94c82efd152ffa48317c0831eae4806ef1811795c033ade9f5181f0c0fd");
  background-repeat: no-repeat;
  width: 100vw;

  /* calc é uma função que irá calcular e retornar um valor */
  min-height: calc(
    100vh - 48px
  ); /* 100vh - 48px que é a altura do NavBar/Menu */

  background-size: cover;
  background-position: center;
}

/* .image {
  align-items: center !important;
} pra cima nosso */

.desenvolvedores {
  border-radius: 50% !important;
  width: 150px !important;
  margin-top: 10px !important;
}

.equipe {
  display: flex !important;
  align-items: center !important;
  margin: auto !important;
}

.redes {
  width: 170px !important;
  color: white !important;
}

.iconeIndS {
  font-size: 50px !important;
  color: #ffffff !important;
}

.iconeIndS:hover {
  color: #3fb844 !important;
  cursor: pointer;
}
