@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

.cursor {
  cursor: pointer;
  color: #065408;
}

.text-decorator-none {
  text-decoration: none;
}

.cursor:hover {
  color: #3fb844;
}

.font {
  font-family: Georgia, 'Signika Negative', sans-serif !important;
}