.titulotema {
  color: orangered !important;
  font-weight: bold !important;
  font-family: "Passion One", sans-serif !important;
  font-weight: 700 !important;
}

.bgposttemas {
  background-image: url("https://ik.imagekit.io/0emfpelsr/wallpaperflare.com_wallpaper__4_.jpg?updatedAt=1684778470388");
  background-size: cover !important;
  background-position: unset;
  min-height: 100vh;
}

/* .displayFlex {
    display: flex;
    flex-direction: row !important;
} */

.outlinedButtonD:hover {
  background-color: #f34d26 !important;
  color: #fdfcfd !important;
}
