.text-decorator-none {
  text-decoration: none;
}
.outlinedButtonL {
  border-color: #09221a !important;
  color: #fcfcfc !important;
}

.outlinedButtonL:hover {
  background-color: #5fda88 !important;
  color: #fdfcfd !important;
}

.textosL {
  font-weight: bold !important;
}

.imagem {
  background-image: url("https://ik.imagekit.io/0emfpelsr/wallpaperflare.com_wallpaper__2_.jpg?updatedAt=1684768839760");
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.custom-txfield label {
  color: black !important;
}
