.text-decorator-none {
  text-decoration: none;
}
.outlinedButtonL {
  border-color: #09221a !important;
  color: #fcfcfc !important;
}

.outlinedButtonL:hover {
  background-color: #5fda88 !important;
  color: #fdfcfd !important;
}

.textosL {
  font-weight: bold !important;
}

.imagem {
  background-image: url("https://ik.imagekit.io/0emfpelsr/59109.jpg?updatedAt=1684782566224");
  background-repeat: repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.custom-txfield label {
  color: rgb(0, 0, 0) !important;
}

.card2 {
  border-radius: 20px;
  background: linear-gradient(3deg, #0503037a 10%, #1b191990 70%) !important;
  padding: 2rem;
  width: max(20vw, 300px);
}
