@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

.caixa {
  background-color: #f34d26;
  }
  
  .titulo {
      color: #f5ebdd !important;
      font-weight: bold !important;
      font-family: "Passion One", sans-serif !important;
      font-weight: 700 !important;
  }
  
  .botão {
      border-color: white !important;
      background-color: white !important;
      color: black !important;
  }

  .botão:hover {
    background-color: #f09c89 !important;
  }
  
  .postagens {
      background-color: white;
  }
  
  .text-decorator-none {
      text-decoration: none;
  }